@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

$primary-color: #85ad00;
$secondary-color: #292929;

$light-primary: #a8c14b;
$light-secondary: #444444;

$heading-font: 'Pacifico', cursive;
$paragraph-font: 'PT Sans Narrow', sans-serif;