@import url("https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
/* line 1, ../sass/base/_base.scss */
.heading {
  font-family: "Pacifico", cursive;
}

/* line 5, ../sass/base/_base.scss */
.paragraph {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 22px;
}

/* line 11, ../sass/base/_base.scss */
.btn--dark {
  background-color: #292929;
  color: #85ad00;
  padding: 7px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 0.5s;
}

/* line 21, ../sass/base/_base.scss */
.btn--dark:hover {
  background-color: #444444;
  color: white;
}

/* line 26, ../sass/base/_base.scss */
.btn--light {
  background-color: #85ad00;
  color: #292929;
  padding: 7px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 0.5s;
}

/* line 36, ../sass/base/_base.scss */
.btn--light:hover {
  background-color: #a8c14b;
  color: #444444;
}

/* line 41, ../sass/base/_base.scss */
.top-margin {
  margin: 80px 0px;
}

/* line 45, ../sass/base/_base.scss */
.top-button-margin {
  margin: 30px 0px;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar-no-radius {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 4, ../sass/module/_navbar.scss */
.navbar-no-radius a {
  color: white;
}

/* line 10, ../sass/module/_navbar.scss */
.navbar-right a {
  transition: 0.3s;
}
/* line 13, ../sass/module/_navbar.scss */
.navbar-right a:hover {
  color: white;
  background-color: #85ad00 !important;
}
/* line 17, ../sass/module/_navbar.scss */
.navbar-right a:focus {
  color: white;
  background-color: #a8c14b;
}
/* line 21, ../sass/module/_navbar.scss */
.navbar-right a:active {
  color: white;
  background-color: #a8c14b !important;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/
/********************************/
/*       Fade Bs-carousel       */
/********************************/
/* line 17, ../sass/module/_hero.scss */
.fade-carousel {
  position: relative;
  height: 100vh;
}

/* line 21, ../sass/module/_hero.scss */
.fade-carousel .carousel-inner .item {
  height: 100vh;
}

/* line 24, ../sass/module/_hero.scss */
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}

/* line 30, ../sass/module/_hero.scss */
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
/* line 39, ../sass/module/_hero.scss */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/* line 55, ../sass/module/_hero.scss */
.hero h1 {
  font-size: 4em;
  font-family: "Berkshire Swash", cursive;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* line 63, ../sass/module/_hero.scss */
.hero h3 {
  text-transform: Capitalize;
}

/* line 68, ../sass/module/_hero.scss */
.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}

/* line 76, ../sass/module/_hero.scss */
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
/* line 88, ../sass/module/_hero.scss */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/********************************/
/*          Custom Buttons      */
/********************************/
/* line 98, ../sass/module/_hero.scss */
.btn.btn-lg {
  padding: 10px 40px;
}

/* line 99, ../sass/module/_hero.scss */
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
/* line 112, ../sass/module/_hero.scss */
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 120, ../sass/module/_hero.scss */
.fade-carousel .slides .slide-1 {
  background-image: url(../img/hero.jpg);
}

/* line 123, ../sass/module/_hero.scss */
.fade-carousel .slides .slide-2 {
  background-image: url(../img/hero2.jpg);
}

/* line 126, ../sass/module/_hero.scss */
.fade-carousel .slides .slide-3 {
  background-image: url(../img/hero3.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
  /* line 134, ../sass/module/_hero.scss */
  .hero {
    width: 980px;
  }
}
@media screen and (max-width: 640px) {
  /* line 137, ../sass/module/_hero.scss */
  .hero h1 {
    font-size: 4em;
  }
}
/* line 1, ../sass/module/_about.scss */
.about {
  width: 100%;
  padding-bottom: 80px;
  background-image: url("../img/about.jpg");
  background-size: cover;
}
/* line 6, ../sass/module/_about.scss */
.about--content {
  margin-top: 100px;
}

/* line 9, ../sass/module/_service.scss */
#service-carousel .carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
/* line 13, ../sass/module/_service.scss */
#service-carousel .carousel-fade .carousel-inner .item,
#service-carousel .carousel-fade .carousel-inner .active.left,
#service-carousel .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
/* line 19, ../sass/module/_service.scss */
#service-carousel .carousel-fade .carousel-inner .active,
#service-carousel .carousel-fade .carousel-inner .next.left,
#service-carousel .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
/* line 25, ../sass/module/_service.scss */
#service-carousel .carousel-fade .carousel-inner .next,
#service-carousel .carousel-fade .carousel-inner .prev,
#service-carousel .carousel-fade .carousel-inner .active.left,
#service-carousel .carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
/* line 34, ../sass/module/_service.scss */
#service-carousel .carousel-fade .carousel-control {
  z-index: 2;
}
/* line 38, ../sass/module/_service.scss */
#service-carousel .carousel {
  background: #85ad00;
  font-family: 'Maven Pro', sans-serif;
}
@media (max-width: 768px) {
  /* line 38, ../sass/module/_service.scss */
  #service-carousel .carousel {
    width: 100%;
    /*height:360px;*/
  }
}
/* line 46, ../sass/module/_service.scss */
#service-carousel .carousel-indicators {
  right: 20px;
  left: auto;
  width: auto;
}
/* line 51, ../sass/module/_service.scss */
#service-carousel .carousel-caption h3 {
  text-shadow: none;
}
/* line 63, ../sass/module/_service.scss */
#service-carousel .carousel-caption {
  /*position: relative;*/
  left: auto;
  right: 0;
  top: 0;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: left;
  text-shadow: none;
  color: #292929 !important;
}
@media (max-width: 1200px) {
  /* line 63, ../sass/module/_service.scss */
  #service-carousel .carousel-caption {
    padding-top: 20px;
  }
}
@media (max-width: 992px) {
  /* line 63, ../sass/module/_service.scss */
  #service-carousel .carousel-caption {
    padding-top: 15px;
  }
}
@media (max-width: 768px) {
  /* line 63, ../sass/module/_service.scss */
  #service-carousel .carousel-caption {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 88, ../sass/module/_service.scss */
#service-carousel .item img {
  width: 670px;
  height: 464px;
  max-width: 58% !important;
}
@media (max-width: 992px) {
  /* line 88, ../sass/module/_service.scss */
  #service-carousel .item img {
    width: 435px;
    height: 302px;
    max-width: 58% !important;
  }
}
@media (max-width: 768px) {
  /* line 88, ../sass/module/_service.scss */
  #service-carousel .item img {
    width: 100%;
    display: block;
    height: 361px;
    max-width: 100% !important;
  }
}

/* line 1, ../sass/module/_advantages.scss */
.advantages {
  background-color: #292929;
  color: #85ad00;
}
/* line 4, ../sass/module/_advantages.scss */
.advantages > a {
  color: white;
}

/* line 9, ../sass/module/_advantages.scss */
.box {
  text-align: center;
}
/* line 10, ../sass/module/_advantages.scss */
.box i {
  font-size: 50px;
  border: 2px solid #85ad00;
  border-radius: 50%;
  padding: 25px 30px;
}
/* line 16, ../sass/module/_advantages.scss */
.box h3 {
  font-weight: bold;
}

/* line 1, ../sass/module/_ourteam.scss */
.profile {
  margin-top: 25px;
}

/* line 4, ../sass/module/_ourteam.scss */
.profile h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 10px 0 0 0;
}

/* line 9, ../sass/module/_ourteam.scss */
.profile h2 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 5px;
}

/* line 14, ../sass/module/_ourteam.scss */
.profile .img-box {
  opacity: 1;
  display: block;
  position: relative;
}

/* line 19, ../sass/module/_ourteam.scss */
.profile .img-box:after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

/* line 29, ../sass/module/_ourteam.scss */
.img-box ul {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  text-align: center;
  width: 100%;
  padding-left: 0px;
  height: 0px;
  margin: 0px;
  opacity: 0;
}

/* line 40, ../sass/module/_ourteam.scss */
.profile .img-box:after, .img-box ul, .img-box ul li {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

/* line 45, ../sass/module/_ourteam.scss */
.img-box ul i {
  font-size: 20px;
  letter-spacing: 10px;
}

/* line 49, ../sass/module/_ourteam.scss */
.img-box ul li {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #88C425;
  margin: 2px;
  padding: 5px;
  display: inline-block;
}

/* line 58, ../sass/module/_ourteam.scss */
.img-box a {
  color: #fff;
}

/* line 61, ../sass/module/_ourteam.scss */
.img-box:hover:after {
  opacity: 1;
}

/* line 64, ../sass/module/_ourteam.scss */
.img-box:hover ul {
  opacity: 1;
}

/* line 67, ../sass/module/_ourteam.scss */
.img-box ul a {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* line 72, ../sass/module/_ourteam.scss */
.img-box a:hover li {
  border-color: #fff;
  color: #88C425;
}

/* line 76, ../sass/module/_ourteam.scss */
a {
  color: #88C425;
}

/* line 79, ../sass/module/_ourteam.scss */
a:hover {
  text-decoration: none;
  color: #519548;
}

/* line 83, ../sass/module/_ourteam.scss */
i.red {
  color: #BC0213;
}

/* line 1, ../sass/module/_contact.scss */
.contact {
  background-color: #85ad00;
}
/* line 3, ../sass/module/_contact.scss */
.contact--box {
  padding: 15px;
}

/* line 1, ../sass/module/_footer.scss */
footer {
  background-color: #292929;
  color: #85ad00;
  padding: 30px 0px;
}
/* line 5, ../sass/module/_footer.scss */
footer h4 {
  color: white;
  margin: 0px;
}
/* line 9, ../sass/module/_footer.scss */
footer p {
  margin: 2px;
}
/* line 12, ../sass/module/_footer.scss */
footer a {
  text-decoration: none;
  color: white;
}
/* line 16, ../sass/module/_footer.scss */
footer a:hover {
  text-decoration: none;
  color: #a8c14b;
}
/* line 20, ../sass/module/_footer.scss */
footer hr {
  margin: 6px 0px;
}

/* line 25, ../sass/module/_footer.scss */
.footer-info-single ul li a {
  display: block;
  color: #aaa;
  font-size: 18px;
}

/* line 31, ../sass/module/_footer.scss */
.footer-info-single ul li a:hover {
  color: #b78c33;
}

/* line 36, ../sass/module/_footer.scss */
.social-media {
  margin-top: 10px;
}

/* line 40, ../sass/module/_footer.scss */
.social-media ul li {
  text-align: center;
}

/* line 44, ../sass/module/_footer.scss */
.social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #85ad00;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

/* line 56, ../sass/module/_footer.scss */
.social-media ul li a:hover {
  background: #85ad00;
  color: white;
  border-color: #b78c33;
}

/* line 62, ../sass/module/_footer.scss */
.right {
  text-align: right;
}
/* line 64, ../sass/module/_footer.scss */
.right h4 {
  margin-right: 7px;
}

/* line 1, ../sass/module/_copyright.scss */
.copyright {
  padding: 10px;
  background-color: #85ad00;
}
/* line 4, ../sass/module/_copyright.scss */
.copyright a {
  color: white;
}
/* line 7, ../sass/module/_copyright.scss */
.copyright a:hover {
  color: white;
  text-decoration: none;
}

/* line 1, ../sass/module/pages_css/_about.scss */
.about--wrap {
  margin-top: 20px;
  margin-bottom: 40px;
}
