.navbar-no-radius{
	border-radius: 0px;
	background-color: rgba(0,0,0,0.8);
	a{
		color: white;	
	}
}

.navbar-right{
	a{
		transition: 0.3s;
	}
	a:hover{
		color: white;
		background-color: $primary-color !important;
	}
	a:focus{
		color: white;
		background-color: $light-primary;
	}
	a:active{
		color: white;
		background-color: $light-primary !important;
	}
}