$xsBreak: 480px;
$smBreak: 768px;
$mdBreak: 992px;
$lrgBreak: 1200px;

.services{
  &--padding{
    margin-bottom: 50px;
  }
}

#service-carousel {
  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }

      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-control {
      z-index: 2;
    }
  }
  .carousel {
    background: $primary-color;
    font-family: 'Maven Pro', sans-serif;
    @media (max-width: 768px) {
      width:100%;
      /*height:360px;*/
    }
  }
  .carousel-indicators {
    right: 20px;
    left: auto;
    width: auto;
  }
  .carousel-caption h3 {
    text-shadow: none;
    @media (max-width: $lrgBreak) {

    }
    @media (max-width: $mdBreak) {

    }
    @media (max-width: $smBreak) {

    }
  }
  .carousel-caption {
    /*position: relative;*/
    left: auto;
    right: 0;
    top: 0;
    text-align: left;
    text-shadow: none;
    color: $secondary-color !important;
    @media (max-width: $lrgBreak) {
      padding-top: 20px;
    }
    @media (max-width: $mdBreak) {
      padding-top: 15px;
    }
    @media (max-width: $smBreak) {
      display: block;
      position: relative;
      padding-top: 5px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .item img {
    width: 670px;
    height: 464px;
    max-width: 58% !important;
    @media (max-width: $mdBreak) {
      width: 435px;
      height: 302px;
      max-width: 58% !important;
    }
    @media (max-width: $smBreak) {
      width: 100%;
      display: block;
      height: 361px;
      max-width: 100% !important;
    }
  }
}